body {
  background-color: purple !important;
  color: #ffff !important;
}

/* navigation bar */
nav {
  background-color: #061545E6;
}
nav a {
  color: #ffff !important;
}

/* home section */
.container-slogan h1,p {
  text-align: center;
}

/* About section */
.container-about h1 {
  text-align: center;
}

/* Services Section */
.container-services h1, h4 {
  text-align: center;
}

.container-services .container-img {
  background-size: cover;
  height: 200px;
}
