html {
  scroll-behavior: smooth; }

body {
  background: linear-gradient(180deg, #07145e 0%, #853eb5 84%, #cd53ff 100%);
  color: #ffff !important;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto !important; }

nav {
  background-color: #061545e6;
  position: fixed !important;
  top: 0px;
  z-index: 100;
  width: 1400px;
  max-width: 100%; }
  nav a {
    color: #ffff !important;
    transition: opacity 0.5s;
    text-transform: uppercase; }
  nav a:hover {
    opacity: 0.7;
    border-bottom: 0.5px solid #b4b4b4; }
  nav li {
    margin: 0 3.2rem; }
  nav .navbar-toggler {
    border-color: #ffff !important; }

.section-home {
  margin-top: 3.7rem;
  margin-bottom: 11rem; }
  .section-home .container-img-1 {
    background-size: cover;
    height: 160px;
    width: 15% !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .section-home .container-img-2 {
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 450px;
    width: 20% !important;
    margin-left: 0px;
    margin-top: -7rem !important; }
  .section-home .container-img-3 {
    background-size: cover;
    border-radius: 20px;
    height: 240px;
    width: 18% !important;
    margin-right: 5rem;
    margin-top: -30rem; }
  .section-home .container-img-4 {
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 18% !important;
    height: 345px;
    margin-top: -1rem;
    margin-right: 0px; }
  .section-home .container-slogan h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-align: center;
    font-weight: 300;
    margin-top: -22rem !important;
    margin: 0 20%;
    padding: 0 11%; }
  .section-home .container-slogan p {
    text-align: center;
    margin: -2% 20%;
    padding: 0 11%;
    font-size: -webkit-xxx-large;
    font-weight: lighter; }

.container-about {
  margin-bottom: 8rem; }
  .container-about h1 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: xx-large; }
  .container-about p {
    text-align: justify;
    font-size: larger;
    font-weight: 300; }

.container-services {
  margin-bottom: 8rem; }
  .container-services h1 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: xx-large; }
  .container-services .col-sm {
    margin: 1rem 0; }
  .container-services .container-img {
    height: 250px;
    background-size: cover;
    border-radius: 15px; }
  .container-services h4 {
    text-align: center;
    font-weight: 400;
    margin: 1rem; }
  .container-services p {
    text-align: justify;
    font-weight: 300; }

.carousel-inner {
  margin-bottom: 8rem; }
  .carousel-inner img {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; }
  .carousel-inner .carousel-caption {
    z-index: 10;
    top: 30%; }
    .carousel-inner .carousel-caption h5 {
      font-size: xxx-large;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 24px; }
    .carousel-inner .carousel-caption p {
      font-weight: 400;
      text-align: center;
      font-size: larger; }

.container-contact {
  margin-bottom: 8rem; }
  .container-contact h1 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: xx-large; }
  .container-contact .col-sm {
    border: 0.5px solid;
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem 1rem; }
  .container-contact h4 {
    text-align: center;
    font-weight: 400; }
  .container-contact ul {
    list-style: none;
    padding-left: 1rem; }
  .container-contact li {
    font-weight: 300;
    text-align: justify;
    margin: 1rem; }
  .container-contact #address li:before {
    font-family: FontAwesome;
    content: "\f041";
    display: inline-block;
    margin-left: -1.8em;
    width: 1.8em; }
  .container-contact #contactNum li:before {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    margin-left: -1.8em;
    width: 1.8em; }
  .container-contact #support li:before {
    font-family: FontAwesome;
    content: "\f1cd";
    display: inline-block;
    margin-left: -1.8em;
    width: 1.8em; }

@media screen and (max-width: 1199px) {
  body {
    font-size: 1.4rem !important; }

  nav li {
    margin: 0 1.4rem; }

  .container-slogan h1 {
    margin: 0 20% !important;
    padding: 0 8% !important; }
  .container-slogan p {
    margin: 0 20% !important;
    padding: 0 9% !important; }

  .container-services .container-img {
    height: 225px !important; }
  .container-services h4 {
    height: 14% !important; }

  .container-contact .col-sm {
    padding: 1.5rem 2rem !important;
    margin: 1rem 4.1rem !important; } }
@media screen and (max-width: 768px) {
  body {
    font-size: 1.6rem !important; }

  nav li {
    margin: 3px 1.2rem !important;
    font-size: 1rem !important;
    border-bottom: 0.5px solid !important; }

  h1 {
    font-size: xxx-large !important; }

  h4 {
    font-size: larger !important; }

  .section-home {
    margin-bottom: 6rem !important; }
    .section-home .container-img-1 {
      width: 26% !important; }
    .section-home .container-img-2 {
      height: 300px !important;
      width: 24% !important;
      margin-top: -5rem !important; }
    .section-home .container-img-3 {
      height: 175px !important;
      width: 22% !important;
      margin-top: -17.5rem !important;
      margin-right: 3rem !important; }
    .section-home .container-img-4 {
      width: 22% !important;
      height: 280px !important; }
    .section-home .container-slogan img {
      height: 50px !important;
      width: 50px !important; }
    .section-home .container-slogan h1 {
      margin: 0 !important;
      padding: 0 !important;
      margin-top: -15rem !important; }
    .section-home .container-slogan p {
      padding: 0 !important; }

  .carousel-caption p {
    font-size: large !important; }

  .container-services .col-sm {
    margin: 2rem 6rem !important; }
  .container-services .container-img {
    height: 400px !important; }
  .container-services h4 {
    height: 5% !important;
    margin: 2rem 0 !important; }
  .container-services p {
    text-align: center !important; }

  .container-contact .col-sm {
    padding: 1.5rem 3rem !important;
    margin: 2rem 4.1rem !important; } }
@media screen and (max-width: 414px) {
  body {
    font-size: large !important; }

  .section-home .container-img {
    display: none; }
  .section-home .container-slogan h1 {
    margin-top: 12rem !important;
    font-size: 2rem !important; }
  .section-home .container-slogan p {
    margin: 0px 15% !important;
    font-size: 2rem !important; }

  .container-about h1,
  .container-services h1,
  .container-contact h1 {
    font-size: larger !important;
    letter-spacing: 8px;
    margin-bottom: 1rem !important;
    font-weight: 500 !important; }

  .section-portfolio img {
    height: 300px !important; }

  .container-services .col-sm {
    margin: 2rem 2rem !important; }
  .container-services .container-img {
    height: 250px !important; }

  .container-contact .col-sm {
    padding: 1.5rem 2rem !important;
    margin: 2rem 2.1rem !important; } }

/*# sourceMappingURL=style.css.map */
