// The code is written by Shahzaib Saeed, project started from 23rd June, 2020

$fontColor: #ffff;
$textAllign: center;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, rgba(7, 20, 94, 1) 0%, rgba(133, 62, 181, 1) 84%, rgba(205, 83, 255, 1) 100%);
  color: $fontColor !important;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto !important;
}

//navigation bar
nav {
  background-color: #061545e6;
  position: fixed !important;

  top: 0px;
  z-index: 100;
  width: 1400px;
  max-width: 100%;

  a {
    color: $fontColor !important;
    transition: opacity 0.5s;
    text-transform: uppercase;
  }

  a:hover {
    opacity: 0.7;
    border-bottom: 0.5px solid rgb(180, 180, 180);
  }

  li {
    margin: 0 3.2rem;
  }

  .navbar-toggler {
    border-color: $fontColor !important;
  }
}

// home section
.section-home {
  margin-top: 3.7rem;
  margin-bottom: 11rem;

  .container-img-1 {
    background-size: cover;
    height: 160px;
    width: 15% !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .container-img-2 {
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 450px;
    width: 20% !important;
    margin-left: 0px;
    margin-top: -7rem !important;
  }

  .container-img-3 {
    background-size: cover;
    border-radius: 20px;
    height: 240px;
    width: 18% !important;
    margin-right: 5rem;
    margin-top: -30rem;
  }

  .container-img-4 {
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 18% !important;
    height: 345px;
    margin-top: -1rem;
    margin-right: 0px;
  }
  .container-slogan {
    h1 {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      text-align: $textAllign;
      font-weight: 300;
      margin-top: -22rem !important;
      margin: 0 20%;
      padding: 0 11%;
    }

    p {
      text-align: $textAllign;
      margin: -2% 20%;
      padding: 0 11%;
      font-size: -webkit-xxx-large;
      font-weight: lighter;
    }
  }
}

// about section
.container-about {
  margin-bottom: 8rem;
  h1 {
    text-align: $textAllign;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: xx-large;
  }

  p {
    text-align: justify;
    font-size: larger;
    font-weight: 300;
  }
}

// services section
.container-services {
  margin-bottom: 8rem;
  h1 {
    text-align: $textAllign;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: xx-large;
  }
  .col-sm {
    margin: 1rem 0;
  }
  .container-img {
    height: 250px;
    background-size: cover;
    border-radius: 15px;
  }
  h4 {
    text-align: $textAllign;
    font-weight: 400;
    margin: 1rem;
  }
  p {
    text-align: justify;
    font-weight: 300;
  }
}

// portfolio section
.carousel-inner {
  margin-bottom: 8rem;
  img {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel-caption {
    z-index: 10;
    top: 30%;
    h5 {
      font-size: xxx-large;
      font-weight: 300;
      // letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
    p {
      font-weight: 400;
      text-align: center;
      font-size: larger;
    }
  }
}

// contact section
.container-contact {
  margin-bottom: 8rem;
  h1 {
    text-align: $textAllign;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: xx-large;
  }
  .col-sm {
    border: 0.5px solid;
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem 1rem;
  }
  h4 {
    text-align: $textAllign;
    font-weight: 400;
  }
  ul {
    list-style: none;
    padding-left: 1rem;
  }
  li {
    font-weight: 300;
    text-align: justify;
    margin: 1rem;
  }
  #address li:before {
    font-family: FontAwesome;
    content: "\f041";
    display: inline-block;
    margin-left: -1.8em;
    width: 1.8em;
  }
  #contactNum li:before {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    margin-left: -1.8em;
    width: 1.8em;
  }
  #support li:before {
    font-family: FontAwesome;
    content: "\f1cd";
    display: inline-block;
    margin-left: -1.8em;
    width: 1.8em;
  }
}

// Responsive for Screen less then 1199px
@media screen and (max-width: 1199px) {
  body {
    font-size: 1.4rem !important;
  }

  nav {
    li {
      margin: 0 1.4rem;
    }
  }

  .container-slogan {
    h1 {
      margin: 0 20% !important;
      padding: 0 8% !important;
    }
    p {
      margin: 0 20% !important;
      padding: 0 9% !important;
    }
  }

  .container-services {
    .container-img {
      height: 225px !important;
    }
    h4 {
      height: 14% !important;
    }
  }

  .container-contact {
    .col-sm {
      padding: 1.5rem 2rem !important;
      margin: 1rem 4.1rem !important;
    }
  }
}

// Responsive for Screen less then 768px
@media screen and (max-width: 768px) {
  body {
    font-size: 1.6rem !important;
  }
  nav {
    li {
      margin: 3px 1.2rem !important;
      font-size: 1rem !important;
      border-bottom: 0.5px solid !important;
    }
  }
  h1 {
    font-size: xxx-large !important;
  }

  h4 {
    font-size: larger !important;
  }

  .section-home {
    margin-bottom: 6rem !important;

    .container-img-1 {
      width: 26% !important;
    }
    .container-img-2 {
      height: 300px !important;
      width: 24% !important;
      margin-top: -5rem !important;
    }
    .container-img-3 {
      height: 175px !important;
      width: 22% !important;
      margin-top: -17.5rem !important;
      margin-right: 3rem !important;
    }
    .container-img-4 {
      width: 22% !important;
      height: 280px !important;
    }
    .container-slogan {
      img {
        height: 50px !important;
        width: 50px !important;
      }
      h1 {
        margin: 0 !important;
        padding: 0 !important;
        margin-top: -15rem !important;
      }
      p {
        padding: 0 !important;
      }
    }
  }

  .carousel-caption {
    p {
      font-size: large !important;
    }
  }

  .container-services {
    .col-sm {
      margin: 2rem 6rem !important;
    }
    .container-img {
      height: 400px !important;
    }
    h4 {
      height: 5% !important;
      margin: 2rem 0 !important;
    }
    p {
      text-align: center !important;
    }
  }

  .container-contact {
    .col-sm {
      padding: 1.5rem 3rem !important;
      margin: 2rem 4.1rem !important;
    }
  }
}

@media screen and (max-width: 414px) {
  body {
    font-size: large !important;
  }

  .section-home {
    .container-img {
      display: none;
    }

    .container-slogan {
      h1 {
        margin-top: 12rem !important;
        font-size: 2rem !important;
      }
      p {
        margin: 0px 15% !important;
        font-size: 2rem !important;
      }
    }
  }

  .container-about,
  .container-services,
  .container-contact {
    h1 {
      font-size: larger !important;
      letter-spacing: 8px;
      margin-bottom: 2rem !important;
      font-weight: 500 !important;
    }
  }

  .section-portfolio {
    img {
      height: 300px !important;
    }
  }

  .container-services {
    .col-sm {
      margin: 2rem 2rem !important;
    }
    .container-img {
      height: 250px !important;
    }
  }

  .container-contact { 
    .col-sm {
      padding: 1.5rem 2rem !important;
      margin: 2rem 2.1rem !important;
  }
  }
}

// Points to remember
// 1) adjust the size of Slogan for screen less then 320px
